{% extends 'base.html.twig' %}

{% block title %}GoofyFly - Dashboard{% endblock %}

{% block body %}

{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<header class="w-screen h-[8vh] flex justify-between align-middle items-center px-6 bg-[#2C2C2C]">
    <h1 class="text-3xl font-extrabold my-auto">GoofyFly - Dashboard</h1>

    <a href="{{ path('app_logout') }}" class="group rounded-xl bg-white font-bold text-lg text-black relative overflow-hidden my-auto px-4 py-2">
        LOGOUT
        <div class="absolute duration-300 inset-0 w-full h-full transition-all scale-0 group-hover:scale-100 group-hover:bg-white/30 rounded-2xl"></div>
    </a>
</header>
<article class="h-[92vh] p-4 flex flex-col justify-center">
<div class="flex flex-col align-middle items-center my-auto">

    <div class="flex justify-around w-full my-6">
        <div class="w-full min-w-[60em] bg-[#2C2C2C] border-1 border-[#787878] rounded-2xl p-2 min-h-[25em]">
            <div class="flex justify-between h-full">
                <div class="border-r border-white w-1/2 p-2">
                    <div class="flex justify-start items-center mb-4">
                        <i class="fa-solid fa-circle-info fa-2xl"></i>
                        <p class="text-4xl font-medium ml-2">Infos</p>
                    </div>

                    <div class="flex flex-col my-4">
                        <p class="text-xl font-normal ml-2">SSH link:</p>
                        <p class="text-xl font-normal ml-4">ssh {{username}}@{{currentPath}}</p>
                    </div>  

                    <div class="flex flex-col my-4">
                        <p class="text-xl font-normal ml-2">FTP:</p>
                        <p class="text-xl font-normal ml-4">Credentials: See in the side box</p>
                        <p class="text-xl font-normal ml-4">Link: ftp://{{currentPath}}</p>
                        <p class="text-xl font-normal ml-4">Port: 22</p>
                    </div>   
                </div>
                <div class="w-1/2 p-2">
                    <div class="flex justify-start items-center mb-4">
                        <i class="fa-solid fa-eye fa-2xl"></i>
                        <p class="text-4xl font-medium ml-2">Secrets</p>
                    </div>

                    <div class="flex flex-col my-4">
                        <p class="text-xl font-normal ml-2">Username:</p>
                        <p class="text-xl font-normal ml-4">{{username}}</p>
                    </div>

                    <div class="flex flex-col my-4">
                        <p class="text-xl font-normal ml-2">Password:</p>
                        <p class="text-xl font-normal ml-4">{{password}}</p>
                    </div>

                    <p class="italic font-light">This credentials are used to connect to the SSH & FTP.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-around w-full my-6">
        <div class="w-1/4 min-w-[20em] bg-[#2C2C2C] border-1 border-[#787878] rounded-2xl p-2">
            <div class="flex justify-around w-full items-center">
                <i class="fa-solid fa-hard-drive fa-8x"></i>
                <p class="text-4xl font-medium">Disk usage</p>
            </div>
            <div class="flex justify-center w-full">
                <p class="text-2xl font-extrabold"><span class="text-9xl ">12</span>/40Mb</p>
            </div>
        </div>
        <div class="w-1/4 min-w-[20em] bg-[#2C2C2C] border-1 border-[#787878] rounded-2xl p-2">
            <div class="flex justify-around w-full items-center">
                <i class="fa-solid fa-database fa-8x"></i>
                <p class="text-4xl font-medium">Database size</p>
            </div>
            <div class="flex justify-center w-full">
                <p class="text-2xl font-extrabold"><span class="text-9xl">12</span>/40Mb</p>
            </div>
        </div>
        <div class="w-1/4 min-w-[20em] bg-[#2C2C2C] border-1 border-[#787878] rounded-2xl p-2">
            <div class="flex justify-around w-full items-center">
                <i class="fa-solid fa-floppy-disk fa-8x"></i>
                <p class="text-4xl font-medium">Backups</p>
            </div>
            <div class="flex justify-center w-full">
                <p class="text-2xl font-extrabold"><span class="text-9xl">12</span>Saves</p>
            </div>
        </div>
    </div>
    
</div>
</article>
{% endblock %}
